@page "{productId}"
@model Shop.UI.Pages.ProductModel
@{
    ViewData["Title"] = "Product";
}
<input type="hidden" id="productId" value="@Model.Product.Id">
<section class="hero">
    <div id="app" class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <figure>
                        <img src="~/images/snickers.webp" />
                    </figure>

                </div>

                <div class="column is-6">
                    <h1 class="title">
                        @Model.Product.Name @Model.Product.ValueStrRubles
                    </h1>
                    <h2 class="subtitle">
                        @Model.Product.Description
                    </h2>

                    <p>
                        LOREM Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    </p>

                    <form method="post">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Size</label>
                            </div>
                            <div class="field-body">
                                <div class="control">
                                    <div class="select">
                                        <select id="selectQty" v-on:change="onChangeSelectHandler" asp-for="CartViewModel.StockId">
                                            @foreach (var s in Model.Product.Stock)
                                            {
                                                bool disabled = s.Qty == 0;
                                                <option value="@s.Id" disabled="@disabled">@s.Description</option>
                                            }
                                        </select>
                                    </div>
                                   <!-- ToDo: initially the page renders and only after that Vuejs begin to work (It's only my quess)
                                        So, I need to hide this,'cause i see a whole block below when load/reload the page..--> 
                                    <div id="qtyInfo">
                                        <div class="subtitle has-text-danger" v-if="stockModel.qty==-1">
                                        </div>
                                        <div class="subtitle has-text-danger" v-else-if="stockModel.qty==0">
                                            Out of Stock
                                        </div>
                                        <div class="subtitle has-text-warning" v-else-if="stockModel.qty<5">
                                            They are going to run out soon. There are {{stockModel.qty}} left.
                                        </div>
                                        <div class="subtitle" v-else>
                                            There are {{stockModel.qty}} left.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Qty: </label>
                            </div>
                            <div class="field-body">
                                <div class="control">
                                    <input class="input" asp-for="CartViewModel.Qty" value="1" />
                                </div>
                            </div>

                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"></label>
                            </div>
                            <div class="field-body">
                                <div class="control">
                                    <button class="button is-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
<script src="~/js/product/product.js"></script>
<script>
      
</script>
}